<strong>Olá, {{ student }}</strong>
<p>Seja bem vindo ao gympoint, é muito bom ter você por aqui!</p>
<p>Segue abaixo as informações do seu plano {{ plan }}.</p>
<p>
    <strong>Aluno: </strong> {{ student }} <br />
    <strong>Data de Início: </strong> {{ start_date }} <br />
    <strong>Data de Término: </strong> {{ end_date }} <br />
    <small>A academia fica aberta de segunda à sexta das 5:00h às 23:00, e aos sábados das 6:00h às 16:00h.</small>
</p>
